
BlazorNewYork/.vs/BlazorNewYork/v17/.suo

*.vsidx

BlazorNewYork/.vs/BlazorNewYork/FileContentIndex/read.lock

BlazorNewYork/NewYork/Shared/NewYork.Shared.csproj

BlazorNewYork/NewYork/Shared/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs

BlazorNewYork/NewYork/Shared/obj/Debug/net7.0/NewYork.Shared.AssemblyInfo.cs

BlazorNewYork/NewYork/Shared/obj/Debug/net7.0/NewYork.Shared.AssemblyInfoInputs.cache

BlazorNewYork/NewYork/Shared/obj/Debug/net7.0/NewYork.Shared.assets.cache

BlazorNewYork/NewYork/Shared/obj/Debug/net7.0/NewYork.Shared.csproj.AssemblyReference.cache

BlazorNewYork/NewYork/Shared/obj/Debug/net7.0/NewYork.Shared.GeneratedMSBuildEditorConfig.editorconfig

BlazorNewYork/NewYork/Shared/obj/Debug/net7.0/NewYork.Shared.GlobalUsings.g.cs

BlazorNewYork/NewYork/Shared/obj/NewYork.Shared.csproj.nuget.dgspec.json

BlazorNewYork/NewYork/Shared/obj/NewYork.Shared.csproj.nuget.g.props

BlazorNewYork/NewYork/Shared/obj/NewYork.Shared.csproj.nuget.g.targets

BlazorNewYork/NewYork/Shared/obj/project.assets.json

BlazorNewYork/NewYork/Shared/obj/project.nuget.cache
